* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  /* border: 1px solid red; */

  margin: 0 auto;
  width: min(100vw, 700px);
  height: auto;
}

h1 {
  margin: 0 auto;
  margin-bottom: 2rem;
}

ul {
  /* border: 1px solid blue; */
  /* list-style: decimal;
  list-style-position: inside; */

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  counter-reset: tasksList;
}

li {
}

.taskItem {
  /* border: 1px solid rgb(0, 13, 128); */
  vertical-align: center;
  text-align: start;
  padding: 1rem 1.5rem;
  background-color: rgba(240, 248, 255, 0.112);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  outline: 2px solid rgba(255, 255, 255, 0);
  /* control overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskItem:hover {
  background-color: rgba(240, 248, 255, 0.251);
}

.taskItem.completedTaskItem:hover {
  outline: 2px solid rgba(139, 255, 139, 0.671);
}

.taskItem.unCompletedTaskItem:hover {
  outline: 2px solid rgba(255, 80, 80, 0.708);
}

span {
  counter-increment: tasksList;
}
span::before {
  content: counter(tasksList) ". ";
}

.taskContainer {
  display: flex;
  border: 1px solid green;
  flex-direction: row;
  /* flex: 1; */
  justify-content: space-between;
  gap: 1rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  flex: 1 1;
  justify-content: flex-end;
  border: 1px solid rgb(128, 0, 124);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.inputField {
  /* border: 1px solid green; */
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.inputField {
  input {
    /*module*/
  }
  button {
    /*module*/
  }
}

.sortingBtnContainer {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.sortingBtn {
  /* border: 1px solid rgb(0, 255, 213); */
  flex: 1;
  max-width: none;
}

.loader {
  margin: 10rem auto;
  border-radius: 50%;
  border: 5px solid grey;
  border-bottom: 5px solid rgba(139, 255, 139, 0);
  width: 200px;
  height: 200px;

  animation: rotateLoader 0.5s linear infinite;
}
